---
title: Food Options
---
<% categories = data.places.map{|item| item.categories}.flatten.uniq.sort %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Categories</h3>
        </div>
        <div class="panel-body">
          <% categories.each do |category| %>
          <a href="#<%= category %>"><%= category.capitalize %></a><br />
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <% categories.each do |category| %>
      
      <div class="page-header">
        <h1 id="<%= category %>"><%= category.capitalize %></h1>
      </div>
      
      <% data.places.select{|item| item.categories.include?(category)}.sort{|item1, item2| item1.name <=> item2.name}.each do |place| %>
      <h3><%= place.name %></h3>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2">
            <% if place.image.nil? %>
            <i class="fa fa-picture-o fa-5x" ></i>
            <% else %>
            <img src="<%= place.image %>" width="150" height="150" />
            <% end %>
          </div>
          <div class="col-md-5">
            <% if !place.address.nil? %>
            <%= place.address.split(',')[0]%></br>
            <%= place.address.split(',')[1]%></br>
            <% end %>
            
            <% if !place.telephone.nil? %>
            <i class="fa fa-phone"></i> <%= place.telephone %></br>
            <% end %>
            
            <% if !place.mobile.nil? %>
            <i class="fa fa-mobile"></i> <%= place.mobile %></br>
            <% end %>
            
            <% if !place.drivingTime.nil? %>
            <i class="fa fa-car"></i> <%= place.drivingTime %></br>
            <% end %>
  
            <br />
            
            <% if !place.email.nil? %><a href="mailto:<%= place.email %>" class="fa fa-envelope"></a><% end %>
            <% if !place.website.nil? %><a href="<%= place.website %>" class="fa fa-home"></a><% end %>
            <% if !place.menu.nil? %><a href="<%= place.menu %>" class="fa fa-cutlery"></a><% end %>
          </div>
          <div class="col-md-5">

            <% if !place.openingHours.nil? %>
            <div class="container">
              <div class="row">
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>